body {
background: silver;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: navy;
text-align: center;
}
h2 {
color: navy;
text-align: center;
}
img[src="Images/Build%20an%20app%20that%20displays%20real-time%20traffic%20map.jpg"] {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid rgb(9, 22, 139);
  display: block;
  margin: auto;
}

  img[src="Images/IMG_9549.jpeg"] {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid rgb(33, 14, 201);
  display: block;
  margin: auto;
}