body {
background: silver;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: navy;
text-align: center;
}
h2 {
color: navy;
text-align: center;
}

  img[src="Images/IMG_9549.jpeg"] {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid rgb(126, 14, 201);
  display: block;
  margin: auto;
}